.text-long {
  width: 230px;

}
.text-medium {
  width: 50px;
}
.text-short {
  width: 20px;
}
.table .checkbox-style{
  padding: 10px 20px 10px 7px;
}
.unique td{
  color:#bd4242;
  font-weight: bold;
}
td {
  font-size: 12px;
}
.similar {
  text-decoration: underline;
  font-weight: bold;
}
