@import "../charts/charts.style.scss";
@import "../scss/mixins";

.container-wine {
  font-family: sans-serif;
}
.container-indicator {
  height: 155px;
  width:100%;
  @include laptop {
    height: 350px;
  }
  @include phone {
    height: 350px;
  }
}
.list-inline li{
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;

}
.ul {
  margin-top: 10px;
  padding: 0;
  @include phone {
    font-size: 0.54rem;
  }
}
.float-right {
  float: right;
  @include phone {
    float: none;
  }
}
.float-right {
  float: left;
  @include phone {
    float: none;
  }
}
h4 {
  font-weight: bold;
  @include phone {
    font-size: 1.1rem;
  }
}
.flex {
  display: flex;
  -webkit-display:flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;

}
.background {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  z-index: 2;
}
.loader {
  position: absolute;
  z-index: 2;
  top: calc( 50% - 60px);
  left: calc(50% - 60px);
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid $sidebar-bg-color; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
.mapTooltip {
  max-width: 800px!important;
  opacity:0.85;
}
.width {
  min-width:200px;
  margin-left: 10px;
  max-width:300px;
  margin-bottom: 10px;
}
.pos {
  margin-top: 25px;
}
.tooltip-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}
.tooltip-font {
  font-size:15px;
  margin-bottom: 5px;
  margin-top: 15px;
  span {
    font-weight: bold;
  }
}
.progress-color {
  margin-bottom: 1px;
  margin-right: 5px;
  border-radius: 0;
  background-color: transparent;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.row-container{
  position: relative;
  margin-bottom: 85px;
}
.text-hist {
  margin-bottom: 0;
}
.font{
  color: #000;
  font-size: 16px;
}

.line::after {
  content: "";
  position: absolute;
  top: 44px;
  width: 14vw;
  height: 1px;

  color:#000;
  left: 90px;
  z-index: 0;
  border:none;
  border-top:1px dashed #ccc;
  @include laptop {
    width: 30vw;
  }
  @include adaptive {
    top: 54px;
    left: 110px;
  }
}
.rank {
  @include laptop {
    display: none;
  }
}
.vintage {
  @include desktop {
    display: none;
  }
}
.vintage-1 {
  @include desktop_1 {
    display: none;
  }
}
.nv-series-0 {
  fill-opacity: 1!important;
}
.nvd3 .nv-groups rect:hover {
  fill: $sidebar-bg-color!important;
}
.rank-1 {
  margin-top: 2rem;
  @include laptop_1 {
    display: none;

  }
}
.marg{
  margin-bottom: 2em;
  height: 144px;
  @include phone {
    margin-right: 0;
  }
}
.numb-center .easy-pie-chart {
  line-height: 94px;
  @include adaptive {
    line-height: 110px;
  }
}
.numb-center .text-pie {
  margin-top: -34px;

}
.easy-pie-chart div {
  position: absolute;
  top: 18%;
  left: 50%;
  span{
    font-size: 0.3em;
    position: relative;

    left: -50%;
  }

}
.text-pie {
    height: 20px;
    margin-top: -20px;
    font-size: 16px;
    @include phone{
      font-size: 13px;
    }

}
h1 {
  margin-bottom: 1em;
  font-size: 3rem;
  font-family: 'Open Sans';
}
p {
  font-size: 16px;
}

.mapTooltip {
  position : fixed;
  padding : 2px;
  z-index: 1000;
  max-width: 200px;
  display: none;
  background-color : #fff;
  border: 1px solid #ccc;
  border-radius: $border-radius;
  font-size: $font-size-sm;
  color: $text-color;
}

.underline {
  color: $sidebar-bg-color;
  border-bottom: 2px solid $sidebar-bg-color;
  padding: 1px 3px;

}
.zoomIn, .zoomOut {
  position: absolute;
  bottom: 10px;
  left : 10px;
  width: 20px;
  height: 20px;

  box-sizing: content-box;
  border: 1px solid #ccc;
  background-color: #fff;
  color: $text-color;
  line-height: 20px;
  text-align: center;
  border-radius: $border-radius;
  cursor: pointer;
  font-weight: $font-weight-bold;

  user-select: none;
}

.zoomOut {
  left: 36px;

}

.mapael{
  position: relative;
  margin: (-$widget-padding-vertical) (-$widget-padding-horizontal) 0;
  .map {
    position:relative;
  }
  .stats{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 5% 10%;
  }
}
